/*sempre colocamos o '*' quando nos referímos à página toda*/
*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    min-height: 100vh;
}

header{
    background-color: #191970;
    width: 100%;
    position: fixed;
    top: 0;
    color: #ffffff;
}

header h1{
    text-align: center;
    font-family: 'Madimi One', 'Tahoma';
    padding-top: 20px;
}

nav{
    padding: 20px 0;
    width: 100%;
    text-align: center;
    font-family: 'roboto';
}

nav a{
    text-decoration: none;
    color: inherit;
    padding: 1%;
    cursor: pointer;
}

/*hover é referente a quando você passa o mouse em cima de um elemento*/
nav a:hover{
    padding-bottom: 0.4em;
    border-bottom: 0.3em solid #00bbff;
    font-weight: bold;
}

main{
    padding-top: 140px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*Outra forma de escrever, seria grid-template-columns: repeat(3, 1fr);*/
}

#manchete{
    grid-column: 1/4;
    min-height: 400px;
    display: flex;
    padding: 1%;
    box-shadow: 0 0 0.3em 0.3em rgba(0, 0, 0, 0.1em);
    border-radius: 0.5em;
    /*box-shadow.dev*/
}

.corpo-manchete{
    width: 38%;
    padding: 1%;
}

.corpo-manchete h2{
    text-align: center;
    font-size: 2em;
    line-height: 40px;
    padding-top: 75px;
}

.corpo-manchete p{
    padding: 2%;
    text-align: center;
    line-height: 40px;
}

.corpo-manchete a{
    text-decoration: none;
    color: #000;
}

#manchete img{
    width: auto;
}

#noticias{
    grid-column: 1/4;
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

article{
    width: 31.33%;
    padding: 1%;
    min-height: 300px;
}

#noticia1{background-color: #00bbff;}
#noticia2{background-color: red;}
#noticia3{background-color: yellow;}

footer{
    background-color: #191970;
    width: 100%;
    height: 52px;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer p{
    color: #ffffff;
    text-align: center;
    padding: 17px 0;
}
