*{
    font-family: 'Archivo', 'Roboto';
}

.main{
    width:90%;
    margin: 0 auto;/*top/bottom - 0;left/right - auto*/
}

h1{
    text-align: center;
    padding: 10px;
}
.dados-contato{
    float:left;
    width: 100%;
}

.linkedin_img{
    width: 3rem;
    height: auto;
}

.instagram_img{
    width: 2.4rem;
    height: auto;
    margin-bottom: 4px;
}

.github_img{
    width: 2.4rem;
    height: auto;
    margin-bottom: 4px;
    margin-left: 6px;
}

.foto_perfil{
    width: 20rem;
    height: auto;
    border-radius: 100%;
    float: right;
    margin-top: -250px;
    padding: 20px;
}

.formacao{
    margin: 5vw;
}

.experiencias{
    margin: 5vw;
}

.informacoes{ 
    float: right;
    margin-top: -520px;
    margin-right: 40px;
    border: 1.3px solid black;
    border-radius: 2rem;
    padding: 1.5rem;
    padding-top: 1rem;
}

.lista{
    align-content: left;
    margin-bottom: -20px;
}

li{
    padding: 6px;
}


